body{
    background-color: rgba(0,0,0,0.25);
}

.dashboard{
    width: min(55vw, 700px);
    height: min(40vw, 450px);
}

.innerDashboard{
    grid-template-rows: auto auto auto auto ;
    width: min(55vw, 700px);
    height: min(40vw, 450px);
    gap: min(1vw, 10px);
}

.button{
    width: min(25vw, 300px);
    height: min(5vw, 35px);
    font-size: min(2vw, 20px);
    margin-top: max(-4vw, -15px) !important;
}

.tick{

}