<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenfield LH</title>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/home.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/productCard.css')}}" />
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <div class="banner">
        <h1 class="bannerText"> Welcome to <br> Greenfield Local Hub</h1>
        <a class="button" href="wip"> About Us </a>
    </div>

    <div class="featured">
        <h2 > Featured </h2>

        <div class="products">
            {% for product in products %}
                <div class="productCard">
                    <h4> {{ product[3] }} </h4>
                    <div class="productImage"> {{ product[2] }} </div>
                    <div class="productInfo">
                        <h5 class="productDescription"> {{ product[4] }} </h5>
                        <h5 class="productPrice"> £{{ product[6] }} </h5>
                        <a class="productButton" href="product"> View </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}

</body>
</html>