<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/adminPanel.css')}}" />
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <h1 class="title"> My Admin </h1>
    <div class="underline"></div>
    <div class="dashboard">
        <div class="sideNav">
            <div class="adminPanel">
                <h3> My Account</h3>
                <a href="adminPanel"> User Details </a>
                <a href="adminPanel_producerWhitelist"> Producer Whitelist </a>
                <a href="adminPanel_marketControl"> Market Control</a>
            </div>
            <a href="/logout"> Logout </a>
            <br><br>

            <div class="settings">
                <a href="wip"> Settings </a>
            </div>
        </div>

        <form method="POST" class="sideContainer">
            <h2> Account Details </h2>
                <h3> Name </h3>
                <input id="name" name="name" placeholder="{{currentUserDetails[1]}}">

                <h3> Email </h3>
                <input id="email" name="email" placeholder="{{currentUserDetails[2]}}">

                <h3> Phone Number </h3>
                <input id="phoneNumber" name="phoneNumber" placeholder="{{currentUserDetails[4]}}">

            <button class="button" type="submit"> Save Changes </button>
        </form>

    </div>

    {% endblock %}

</body>
</html>