<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/signup.css')}}" />
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <h1 class="title"> My Account </h1>
    <div class="underline"></div>
    <div class="dashboard">
        <form method="POST" class="innerDashboard">
            <h3> Signup </h3>
                <input id="name" name="name" placeholder="Name">
                <input id="email" name="email" placeholder="Email">
                <input id="password" name="password" placeholder="Password" type="Password">

                <div class="rememberMe">
                    <input class="tick" type="checkbox">
                    <h6> Remember Me</h6>
                </div>

                <button class="button" type="submit"> Signup</button>

            <a href="login" class="logLink"> Already Registered? </a>
        </form>

    </div>



    {% endblock %}

</body>
</html>